<h1>List of users</h1>

<!-- table for list of users -->

<table border = "1">
  <tr>
    <th>Username</th>
    <th>Private?</th>
    <th>Click to follow</th>
    <th>Click for more details</th>
  </tr>
  <%User.all.order({:username => :asc}).each do |a_user| %>
    <tr>
      <td><%=a_user.username%></td>
      <td><%=translate(a_user.private.class)%></td>
      <td>
        <% if @current_user.present? %>
        <%current_follow_request = FollowRequest.where({:sender_id => @current_user.id, :recipient_id => a_user.id}).first%>
          <% if current_follow_request.present? %>
            <% if current_follow_request.status == "pending" %>
              Request sent. <a href="/delete_follow_request/<%=current_follow_request.id%>">Cancel</a>
            <% elsif current_follow_request.status == "accepted" %>
              <a href="/photos">Unfollow</a>
            <% end %>
          <% else %>
            <% # does not exist else %>
            <form action="/insert_follow_request" method ="post">
              <input type="hidden" name="query_status" value= "pending">
              <input type="hidden" name="query_recipient_id" value= <%=a_user.id%>>
              <input type="hidden" name="query_sender_id" value= <%=@current_user.id%>>
              <button>Follow</button>
            </form>
          <% end %>
        <% else %>
          <p>Sign in to follow other users</p>
        <% end %>
      </td>
      <td>
        <a href="/users/<%=a_user.username%>">Show details</a>
      </td>
    </tr>

  <% end %>

</table>
