<h1><%=@target_user.username%></h1>

<dl>
  <dt>Private</dt>
  <dd><%=@target_user.private%></dd>
  <dt>Followers</dt>
  <dd>
    <div>
      received requests: <%=@target_user.received_requests.count%>
    </div>
    <div>
      accepted requests: <%=@target_user.received_requests.accepted_request.count%>
    </div>
    <div>
      followers: <%=@target_user.followers.count%>
    </div>
    <div>
      <a href="/">
        PLACEHOLDER - Unfollow
      </a>
    </div>
  </dd>
  <dt>Following</dt>
  <dd>leaders: <%=@target_user.leaders.count%></dd>
</dl>

<ul>
<li><a href="/users/<%=@target_user.username%>">Profile</a></li>
<li><a href="/users/<%=@target_user.username%>/liked_photos">Liked photos</a></li>
<li><a href="/users/<%=@target_user.username%>/feed">Feed</a></li>
<li><a href="/users/<%=@target_user.username%>/discover">Discover</a></li>
</ul>

<h1>Own photos (<%=@target_user.photos.count%>)</h1>

placeholder table from photos index but different
